# Compiled files
_build
web/

# Ignore all files ending with ~
*~
*.o

# Info on vagrant image
.vagrant

# Development script
rebuild.sh

# Log file for Travis build
**/log.txt

# Tokens file
tokens.yaml
